{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Tailor-made training SEO' | trans }}
{% endblock %}

{% block seoDesc %}
    {{ 'SEO Tailor-made training desc' | trans }}
{% endblock %}

{% block mainClass %}
    js-menu-fixed
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="page main-content">
                <div class="page__main">
                    <h1 class="h2">
                        {{ "Tailor-made training" | trans }}
                    </h1>
                </div>

                <div class="page__content">
                    <div class="paragraph -form">
                        <div class="wysiwyg -lead">
                            <p>
                                {{ 'Tailor-made training desc' | trans }}
                            </p>
                        </div>
                        {{ form_start(form, {'attr': {'class': 'form'}}) }}
                            {{ form_row(form.name) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.message) }}
                            {{ form_row(form.captcha) }}
                            <div class="d-flex flex-column justify-content-between align-items-center mt-4">
                                <div class="wysiwyg">
                                    <p>
                                        {{ 'contact.agree.label' | trans | raw }}
                                    </p>
                                </div>
                                <div class="btn-fx-wrapper -fixed mt-4 mt-lg-0">
                                    <span class="btn-fx-circle"></span>
                                    <button type="submit" class="btn btn-primary btn-fx-container">
                                        <span class="btn-fx-inner">
                                            {{ 'Send!' | trans }}
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="visually-hidden">{{ form_row(form.type) }}</div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
