<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome{% endblock %} | Cap4Learning
        </title>

        <meta name="description" content="{% block seoDesc %}{{ 'We help people in developing their careers and skills.' | trans }}{% endblock %}">
        <meta name="robots" content="all" />
        <meta name="keywords" content="{% block seoMetas %}{% endblock %}" />

        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{{ block('seoDesc') }}" />
        {% block seoImg %}
            <meta property="og:image" content="{{ absolute_url(asset('static/img/sharing.jpg')) }}" />
        {% endblock %}
        <meta property="og:locale" content="{{ app.request.locale }}" />

        <meta name="twitter:card" content="summary" />

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('static/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('static/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('static/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('static/favicon/site.webmanifest') }}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TELM5Q3QQK"></script>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KTFC3WH');</script>
    </head>

    <body id="js-body" class="{% block mainClass %}{% endblock %}">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTFC3WH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    
    {% include 'components/_svg-sprite.html.twig' %}
        <div id="awwwards" style="position: fixed; z-index: 999; transform: translateY(-50%); top: 50%; right: 0"><a href="https://www.awwwards.com/sites/cap-4-learning" target="_blank"><svg width="53.08" height="171.358"><path class="js-color-bg" fill="#03565c" d="M0 0h53.08v171.358H0z"></path><g class="js-color-text" fill="#fff"><path d="M20.047 153.665v-1.9h3.888v-4.093h-3.888v-1.9h10.231v1.9h-4.59v4.093h4.59v1.9zM29.898 142.236c-.331.565-.784.997-1.359 1.294s-1.222.446-1.944.446c-.721 0-1.369-.149-1.943-.446a3.316 3.316 0 0 1-1.36-1.294c-.331-.564-.497-1.232-.497-2.002s.166-1.438.497-2.002a3.316 3.316 0 0 1 1.36-1.294c.574-.297 1.223-.445 1.943-.445.723 0 1.369.148 1.944.445a3.307 3.307 0 0 1 1.359 1.294c.331.564.497 1.232.497 2.002s-.166 1.438-.497 2.002m-1.703-3.347c-.435-.33-.967-.496-1.601-.496-.633 0-1.166.166-1.601.496-.433.332-.649.78-.649 1.346 0 .564.217 1.013.649 1.345.435.331.968.497 1.601.497.634 0 1.166-.166 1.601-.497.435-.332.649-.78.649-1.345.001-.566-.214-1.014-.649-1.346M22.911 134.852v-1.813h1.186a3.335 3.335 0 0 1-.951-1.009 2.423 2.423 0 0 1-.352-1.271c0-.682.19-1.229.57-1.645.381-.413.932-.621 1.652-.621h5.262v1.812h-4.721c-.419 0-.727.096-.921.285-.195.19-.292.447-.292.769 0 .302.115.58.35.833.234.254.577.458 1.03.613.454.156.993.234 1.616.234h2.938v1.813h-7.367zM29.898 125.136a3.314 3.314 0 0 1-1.359 1.294c-.575.297-1.222.445-1.944.445-.721 0-1.369-.148-1.943-.445a3.322 3.322 0 0 1-1.36-1.294c-.331-.565-.497-1.232-.497-2.002 0-.771.166-1.438.497-2.003a3.313 3.313 0 0 1 1.36-1.293c.574-.297 1.223-.446 1.943-.446.723 0 1.369.149 1.944.446s1.028.728 1.359 1.293.497 1.232.497 2.003c.001.769-.166 1.436-.497 2.002m-1.703-3.347c-.435-.331-.967-.497-1.601-.497-.633 0-1.166.166-1.601.497-.433.331-.649.778-.649 1.345 0 .564.217 1.013.649 1.344.435.332.968.498 1.601.498.634 0 1.166-.166 1.601-.498.435-.331.649-.779.649-1.344.001-.567-.214-1.014-.649-1.345M22.911 117.75v-1.812h1.199c-.419-.265-.742-.586-.972-.966s-.345-.784-.345-1.213c0-.272.05-.569.146-.892l1.682.336a1.429 1.429 0 0 0-.205.76c0 .576.261 1.048.783 1.418.521.37 1.342.557 2.461.557h2.617v1.812h-7.366zM29.812 111.252c-.391.511-.857.851-1.403 1.016l-.776-1.446c.381-.138.68-.329.893-.577.215-.249.321-.544.321-.885a1.2 1.2 0 0 0-.168-.658c-.112-.175-.294-.263-.548-.263-.225 0-.406.105-.548.313-.142.21-.291.534-.446.973-.019.068-.058.17-.117.307-.224.565-.506 1.004-.848 1.315-.34.313-.779.467-1.314.467-.381 0-.727-.102-1.039-.306a2.185 2.185 0 0 1-.744-.84 2.554 2.554 0 0 1-.279-1.207c0-.497.105-.949.314-1.359.211-.408.506-.725.886-.949l.993 1.082c-.43.292-.644.686-.644 1.184a.84.84 0 0 0 .154.504.471.471 0 0 0 .401.212c.176 0 .338-.103.49-.307.15-.205.334-.604.547-1.199.205-.564.474-1.001.805-1.308.332-.308.756-.46 1.271-.46.721 0 1.299.229 1.732.687s.65 1.057.65 1.797c.001.759-.194 1.396-.583 1.907M35.481 17.006l-4.782 14.969h-3.266l-2.584-9.682-2.584 9.682h-3.268l-4.782-14.969h3.713l2.673 10.276 2.525-10.276h3.445l2.524 10.276 2.674-10.276zM37.978 27.163c1.426 0 2.496 1.068 2.496 2.495 0 1.425-1.07 2.495-2.496 2.495-1.425 0-2.494-1.07-2.494-2.495-.001-1.427 1.069-2.495 2.494-2.495"></path></g></svg></a></div>
        <header class="header">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid align-items-lg-center">
                    <a class="navbar-brand base-link" href="/">
                        <img src="{{ asset('static/img/logo_green.svg') }}" alt="Cap4Learning - Logo" itemprop="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <svg class="icon icon-menu-open"><use xlink:href="#icon-menu-open"></use></svg>
                        <svg class="icon icon-menu-close"><use xlink:href="#icon-menu-close"></use></svg>
                    </button>
                    <div class="collapse navbar-collapse align-items-start js-hover-triggering" id="navbarNav" >
                        <div class="navbar-left">
                            {{ knp_menu_render ('main',  {'currentClass': 'active'}) }}
                        </div>
                        <div class="navbar-right">
                            {{ knp_menu_render ('secondary',  {'currentClass': 'active'}) }}
{#                            <div class="dropdown">#}
{#                                <button class="btn btn-underline dropdown-toggle" type="button" id="language_switcher" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                    {{  app.request.locale | upper }}#}
{#                                </button>#}
{#                                <div class="dropdown-menu" aria-labelledby="language_switcher">#}
{#                                    {% if (app.request.attributes.get('_route')) %}#}
{#                                    <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">#}
{#                                        {%  if app.request.locale == 'fr' %}#}
{#                                            <b>FR</b>#}
{#                                        {% else %}#}
{#                                            FR#}
{#                                        {% endif %}#}
{#                                    </a>#}

{#                                    <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">#}
{#                                        {%  if app.request.locale == 'en' %}#}
{#                                            <b>EN</b>#}
{#                                        {% else %}#}
{#                                            EN#}
{#                                        {% endif %}#}
{#                                    </a>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
                            <button class="navbar-search js-searchbar-opening btn btn-link pe-0">
                                <svg class="icon icon-search "><use xlink:href="#icon-search"></use></svg>
                                <span class="visually-hidden">{{ 'Search' | trans }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main class="main" id="js-main">
            <div class="container-fluid -corner">
                <div class="overflower -top"></div>

                {% block error_alert %}
                    {% for message in app.flashes('success') %}
                        <div class="row align-items-center justify-content-center mt-4">
                            <div class="col-10">
                                <div class="alert alert-success" role="alert">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <svg class="icon icon-check text-white"><use xlink:href="#icon-check"></use></svg>
                                        <div class="ps-2">
                                            {{ message | trans}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}

                {% block body %}

                {% endblock %}

                {{ render(controller('App\\Controller\\DefaultController:searchBar', {'request': app.request})) }}
            </div>
        </main>


        <footer class="footer" id="footer">
            {% block footer %}
                <div class="container-fluid">
                    <div class="overflower"></div>
                    <div class="row align-items-stretch">
                        <div class="col-7 col-lg-2 order-1 order-lg-1">
                            <div class="footer__identity" itemscope itemtype="https://schema.org/Organization">
                                <img src="{{ asset('static/img/logo_green.svg') }}" alt="Cap4Learning - Logo" itemprop="logo">
                                <div class="footer__identity-content">
                                    <h3 class="visually-hidden" itemprop="name">Cap4Learning</h3>
                                    <p>
                                        <a href="tel:0033183814115" itemprop="telephone">+33 1 83 81 41 15</a>
                                    </p>
                                    <p itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                                        <span itemprop="streetAddress">75 rue de Richelieu</span> <br>
                                        <span itemprop="postalCode">75002 </span>
                                        <span itemprop="addressLocality">Paris <br>France</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-8 m-auto col-lg-2 order-3 order-lg-2">
                            <img alt="Cap4Learning - certification qualiopi" src="{{ asset('static/img/cap4learning-qualiopi.png') }}">
                        </div>

                        <div class="col-lg-6 order-4 order-lg-3">
                            <div class="d-flex h-100 align-items-center justify-content-center">
                                <p class="mb-0 me-1 d-none d-lg-block">
                                    {{ '© Cap4 Learning, a subsidiary of' | trans }}
                                </p>
                                <nav class="footer__nav">
                                    {{ knp_menu_render ('footer',  {'currentClass': 'active'}) }}
                                </nav>
                            </div>
                        </div>

                        <div class="col-5 col-lg-2 order-2 order-lg-4">
                            <div class="footer__socials d-flex flex-column h-100 justify-content-between align-items-end">
                                <ul class="list-icon">
                                    <li>
                                        <a href="https://www.linkedin.com/company/cap4-learning/" target="_blank" title="Suivre Cap4Learning sur Linkedin">
                                            <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
                                        </a>
                                    </li>
                                </ul>

                                <p class="intrepide-tag">
                                    {{ 'A website <a href="#">Intrépide Studio</a>' | trans | raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script>
            window.axeptioSettings = {
                clientId: "602296a28cbb5e1a934f8990",
            };

            (function(d, s) {
                var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
                e.async = true; e.src = "//static.axept.io/sdk.js";
                t.parentNode.insertBefore(e, t);
            })(document, "script");
        </script>
    </body>
</html>
