{% extends 'base.html.twig' %}

{% block title %}
    {{  'Error' | trans }}
{% endblock %}

{% block mainClass %}
    js-menu-fixed corner-pb-0
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-10">
        <div class="training main-content -listing align-items-stretch">
            <div class="training__head" id="js-training-menu">
                <h1>{{ status_code }} </h1>
                <div class="wysiwyg -lead -lhbigger">
                    <p>{{ 'The page you are looking for does not exist (yet) why not try a search?' | trans }}</p>
                </div>
            </div>

            <div class="training__listing">
                {% set rand = random(1, 4) %}
                <div class="training__404">
                    <img src="{{ asset('static/img/error/' ~ rand ~ '.png') }}" alt="{{ 'The page you are looking for does not exist (yet) why not try a search?' | trans }}" >
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



